@model IEnumerable<Recursos_Humanos.Models.Nomina>

@{
    ViewBag.Title = "Informe Nomina";
}

<h2>Informe de Nominas</h2>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        $.ajax({
            type: "POST",
            url: "/Nominas/ChartFunction",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",

            success: function (data) {
                var dt = new google.visualization.DataTable();
                dt.addColumn('string', 'Año');
                dt.addColumn('number', 'Monto_Total');
                for (var i = 0; i < data.length; i++) {
                    dt.addRow([data[i].Año, data[i].Monto_Total]);
                }
                var options = {
                    title: 'Total de nominas por año'
                };
                var chart = new google.visualization.PieChart($("#chart")[0]);
                chart.draw(dt, options);
            },

        });
    }


    var chart = new google.visualization.PieChart($("#chart")[0]);
    chart.draw(dt, options);
</script>

@using (Html.BeginForm("NominaInforme", "Nominas", FormMethod.Get))
{

    <div class="container">
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                @Html.TextBox("busca", null, new { @class = "form-control", @placeholder = "Buscar Nomina por año o mes" })
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                    @Html.ActionLink(" ", "NominaInforme", "Nominas", null, new { @class = "fas fa-redo-alt btn btn-primary", style = "margin-left: 85%" })
                </div>
            </div>
        </form>
    </div>

}
<br />

<table class="table table-striped">
    <tr class="thead-dark">
        <th>
            @Html.DisplayNameFor(model => model.Monto_Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Monto_Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Año)
            </td>
        </tr>
    }

</table>

<div id="chart" style="width: 900px; height: 500px;"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script>
    if (annyang) {
        // Let's define our first command. First the text we expect, and then the function it should call
        var commands = {
            'show tps report': function () {
                $('#tpsreport').animate({ bottom: '-100px' });
            },

            'Cargo': Cargo,
            'agregar nuevo cargo':CargoCrear,
            'Departamento': Departamento,
            'agregar nuevo Departamento': DepartamentoCrear,
            'Empleado': Empleado,
            'agregar nuevo Empleado':EmpleadoCrear,

            'Nomina': Nomina,
            'agregar nueva Nomina': NominaCrear,
            'Salida': Salida,
            'agregar nueva salida': SalidaCrear,
            'Licencia': Licencia,
            'agregar nueva licencia': LicenciaCrear,
            'Permiso': Permisos,
            'agregar nuevo permiso': PermisosCrear,
            'Vacaciones': Vacaciones,
            'agregar nueva vaciones': VacacionesCrear,



            'Informe de Empleados': Empleadosinac,
            'Informe de Nomina': InformeNomina,
            'Informe de permisos': InformePermisos,
            'Informe de vacaciones': InfomreVacaciones,
            'Informe de licencias': InformeLicencias,
            'Informe de salidas': InfomeSalidas,



        };

        // Add our commands to annyang
        annyang.addCommands(commands);
        annyang.setLanguage("es-MX")
        // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start();
    }

    function Empleado() {
        document.location.href = "http://localhost:53909/Empleados";
    }
    function EmpleadoCrear() {
        document.location.href = "http://localhost:53909/Empleados/Create";
    }
    function EmpleadoEli() {
        document.location.href = "http://localhost:53909/Empleados/Create";
    }
    function Cargo() {
        document.location.href = "http://localhost:53909/cargoes";
    }
    function CargoCrear() {
        document.location.href = "http://localhost:53909/cargoes/Create";
    }
    function CargoEli() {
        document.location.href = "http://localhost:53909/cargoes/Create";
    }
    function Departamento() {
        document.location.href = "http://localhost:53909/Departamentoes";
    }
    function DepartamentoCrear() {
        document.location.href = "http://localhost:53909/Departamentoes/Create";
    }
    function DepartamentoEli() {
        document.location.href = "http://localhost:53909/Departamentoes/Create";
    }




        function Licencia() {
            document.location.href = "http://localhost:53909/Licencias";
    }
    function LicenciaCrear() {
        document.location.href = "http://localhost:53909/Licencias/Create";
    }
    function Nomina() {
        document.location.href = "http://localhost:53909/Nominas";
    }
    function NominaCrear() {
        document.location.href = "http://localhost:53909/Nominas/Create";
    }
    function Salida() {
        document.location.href = "http://localhost:53909/Salidas";
    }

    function SalidaCrear() {
        document.location.href = "http://localhost:53909/Salidas/Create";
    }
    function Permisos() {
            document.location.href = "http://localhost:53909/Permisoes";
    }
    function PermisosCrear() {
        document.location.href = "http://localhost:53909/Permisoes/Create";
    }
        function VacacionesCrear() {
            document.location.href = "http://localhost:53909/Vacaciones/Create";
        }
    function Vacaciones() {
        document.location.href = "http://localhost:53909/Vacaciones";
    }



        function Empleadosinac() {
            document.location.href = "http://localhost:53909/Empleados/Inactivo";
        }
        function InformeNomina() {
            document.location.href = "http://localhost:53909/Nominas/NominaInforme";
        }
        function InformePermisos() {
            document.location.href = "http://localhost:53909/Permisoes/PermisosInforme";
        }
        function InfomreVacaciones() {
            document.location.href = "http://localhost:53909/Vacaciones/VacacionesInforme";
        }
        function InformeLicencias() {
            document.location.href = "http://localhost:53909/Licencias/LicenciasInforme";
        }
        function  InfomeSalidas() {
            document.location.href = "http://localhost:53909/Salidas/SalidasInforme";
        }

</script>